[package]
name = "packhub"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
axum = { version = "0.6", features = ["headers"] }
chrono = { version = "0.4", features = ["clock"] }
once_cell = "1"
octocrab = "0.25"
regex = "1"
semver = "1"
lenient_semver = "0.4"
tokio = { version = "1", features = ["full"] }
tower-http = { version = "0.4", features = ["trace"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
askama = "0.12"
reqwest = { version = "0.11", features = ["stream"] }
ar = "0.9"
libflate = "1.4"
tar = "0.4"
sha256 = "1.2"

[dev-dependencies]
insta = { version = "1.31", features = ["filters"] }

[profile.dev.package.insta]
opt-level = 3

[profile.dev.package.similar]
opt-level = 3
